@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');


    body {
        font-family: 'Nunito Sans', arial;
        background-color: #fafafa;
        margin: 0px;
    }

    .hide {
        display: none !important;
    }

    .content {
        max-width: 1100px;
        margin: 0px auto;
    }

    .header {
        background-color: white;
        border-bottom: 1px solid #999;
        margin-bottom: 20px;
        /* required */
        /* width: 100%;
        background-color: red;
        height: 50px;
        margin-bottom: 50px; */
    }

    h3 {
        font-size: 16px;
    }

    .header h2 {
        font-size: 20px;
        line-height: 50px;
        margin: 0;
        padding: 0;
    }

    .header h2 a {
        text-decoration: none;
        color: black;
    }

    .header h2 a:hover {
        text-decoration: underline;
    }

    .header .content {
        display: flex;
    }

    .header ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .header ul li {
        float: left;
        margin: 0 0 0 20px;
        padding: 0;
        font-size: 14px;
        line-height: 50px;
    }

    .tableControls {
        margin-bottom: 15px;
    }

    a {
        color: #0036cc;
    }

    table {
        border-collapse: collapse;
        font-size: 13px;
        background-color: white;
        width: 100%;
    }

    thead {
        position: sticky; 
        position: -webkit-sticky;
        top: 0;
    }

    tr:nth-child(odd) {
        background-color: #f0f0f0;
    }

    td {
        padding: 10px 10px;
        border-right: 1px solid #999;
        border-left: 1px solid #999;
        border-bottom: 1px solid #ccc;
    }

    th {
        padding: 10px;
        background-color: #444;
        color: white;
        text-align: left;
        border: 1px solid #444;
    }

    .section {
        margin-bottom: 30px;
    }

    .titleBar {
        margin-top: -20px;
        padding: 10px 0;
        background-color: #444;
        color: white;
    }

    .titleBar a {
        color: white;
    }

    .titleBar ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .titleBar ul li {
        display: inline-block;
        margin-right: 15px;
        padding-right: 15px;
        border-right: 1px solid #999;
    }

    .titleBar h2 {
        margin: 0;
        padding: 0;
        font-size: 16px;
    }

    .titleBar ul li:last-child {
        border-right: 0px;
    }

    .clear {
        clear: both;
    }

    .info {
        display: flex;
        font-size: 13px;
    }

    .info > div {
        flex: 1;
        margin-right: 50px;
    }

    .info > div:last-child {
        margin-right: 0px;
    }

    .info .title {
        display: flex;
        padding-bottom: 5px;
        margin: 0 0 10px 0;
        border-bottom: 1px solid #999;

    }

    .info .title h3, .info .title a {
        flex: auto;
        margin: 0;
        padding: 0;
        align-self: flex-end;
    }


    .info .title a {
        text-align: right;
    }

    /* .info h3 {
        border-bottom: 1px solid #999;
        padding-bottom: 5px;
        margin: 0 0 10px 0;
    } */

    .chart {
        border: 1px solid #999;
    }

    .editing {
        background-color: white;
        border: 1px solid #999;
    }
