        body.dark {
            background-color: #222;
        }

        body.dark .header {
            background-color: #111;
            border-bottom: 1px solid black;
        }

        body.dark .header h2 a {
            color: white;

        }
        
        .modal {
            margin: 50px auto;
            background-color: white;
            width: 500px;
            border: 1px solid #999;
        }
    
        .modal .content {
            box-sizing: border-box;
            padding: 30px;
        }

        #dropbox {
            width: 100%;
            background-color: white;
            color: black;
            text-align: center;
            cursor: pointer;
            padding: 30px;
            box-sizing: border-box;
        }
    
        #dropbox Object {
            width: 150px;
            opacity: .85;
            margin-bottom: 20px;
        }

        #dropbox h3 {
            margin: 0;
            padding: 0;
        }

        #dropbox p {
            margin: 0;
            padding: 0;
        }

        #dropbox.active {
            background-color: #90c600;
            color: black;
        }

        #dropbox:hover h3 {
            text-decoration: underline;
        }

        #dropbox:hover Object{
            opacity: 1
        }

        .modal .content h3 {
            margin: 15px 0 5px 0;
            padding: 0px;
        }

        .modal .content h3:first-child {
            margin-top: 0px;
        }
 
        .modal .content p {
            font-size: 14px;
            margin: 0px;
            padding: 0px;
        }

        .modal .content textarea {
            width: 100%;
            height: 80px;
        }

        #assignDate input[type=number] {
            font-size: 20px;
            padding: 5px;
            text-align: center;
            margin-right: 5px;
            width: 6em;
            margin: 10px 5px 10px 0;
        }

        .modal .content input[type=submit] {
            color: black;
            font-size: 14px;
            border: 1px solid #999;
            background-color: #fafafa;
            margin: 20px 0 0 0;
            padding: 5px 10px;
            text-transform: uppercase;
            /* font-weight: bold; */
        }


    #videoPlayer {
        margin: 0px auto;
        width: 1000px;
    }

    #videoPlayer video {
        width: 100%;
    }

    #graph {
        border-top: 1px solid black;
    }

    #graph canvas {
        width: 1000px;
    }

    .playbackControl {
        background-color: #333;
        color: white;
        font-family: arial; 
        font-size: 13px;
        display: flex;
        width: 1000px;
    }

    #play {
        background-image: url('../images/pausebut.svg');
        background-size: contain;
        background-repeat: no-repeat;
        width: 15px;
        height: 15px;
    }

    #play.paused {
        background-image: url('../images/playbut.svg');
    }

    .playbackControl>div {
        margin: 5px 5px;
        /* background-color:red; */
    }

    .playbackControl .time {
        color: white;
        min-width: 80px;
    }

    .playbackControl #skipAhead, .playbackControl #skipBack {
        min-width: 30px;
    }

    .playbackControl .sliderBack {
        background-color: #777;
        width: 800px;
        height: 4px;
        position: relative; 
        margin-top: 9px;
        border-radius: 8px;
        cursor: pointer;
    }

    .sliderBack .sliderKnob {
        background-color: #f43900;
        width: 15px;
        height: 15px;
        border-radius: 20px;
        position: absolute;
        left: 0px;
        
        margin-top: -5px;
        margin-left: -10px;
        border: 1px solid #ae2900;
        box-sizing: border-box;
    }

    .sliderBack .durationbar {
        width: 0px;
        height: 4px;
        background-color: #eee; 
        position: absolute;
        left: 0;
        border-radius: 8px;

    }